<div>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <p><label for="email">email</label></p>
   <p> <input  formControlName="email" type="text" id="email" ></p>
    <span *ngIf="!registerForm.valid" class="helper-text" data-error="wrong" >email doit être une adresse valide( doit comporter un "@")</span>
    <span *ngIf="exist" class="helper-text" data-error="wrong" >Cette adresse existe déjà</span>
    <p><label for="nom">nom</label></p>
    <p><input  formControlName="nom" type="text" id="nom"></p>
    <span *ngIf="!registerForm.valid" class="helper-text" data-error="wrong" >Ce champ est requis</span>
    <p><label for="prenom">prénom</label></p>
    <p><input formControlName="prenom" type="text" id="prenom"></p>
    <span *ngIf="!registerForm.valid" class="helper-text" data-error="wrong" >Ce champ est requis</span>
    <p><label for="telephone">telephone</label></p>
    <p><input formControlName="telephone" type="text" id="telephone" ></p>
    <p><label for="pwd">mot de passe</label></p>
    <p><input  formControlName="pwd" type="password" id="pwd"></p>
    <span *ngIf="!registerForm.valid" class="helper-text" data-error="wrong" >Ce champ est requis et nécessite au moins 4 caractères</span>
    <p><label for="recruteur">Etes vous un recruteur?</label></p>
   <p><select class="browser-default" formControlName="recruteur" id="recruteur" >
     <option value=true>Oui</option>
     <option value=false> Non</option>
   </select></p>
    <span *ngIf="!registerForm.valid" class="helper-text" data-error="wrong" >Ce champ est requis</span>
    <p><button [disabled]="!registerForm.valid" type="submit" class="btn cyan lighten-1">S'enregistrer</button></p>
  </form>
</div>
<app-footer></app-footer>
