.container
  width: 150%
  display: grid
  grid-template-columns: repeat(1,100%)
  grid-template-rows: 10% 80% 20%
  .top
    columns: 1
    row: 1
  .main
    column: 1
    row: 2
    height: 83.5vh
    max-height:  83.5vh
    overflow-y: auto
    scroll-behavior: smooth
    scrollbar-color: #26c6da white
    scrollbar-width: thin
    scroll
  .bottom
    column: 1
    row: 3
